layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
    tab name="nvim" {
        pane command="nvim"
    }
    tab name="terminal" {
        pane
    }
    tab name="jj" {
        pane cwd="/Users/marci/Projects/journal" command="./journal" {
            args "tui"
        }
    }
}
